* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: dodgerblue;
}
.container {
  background-color: #fff;
  width: 800px;
  height: 1000px;
  margin: 30px;
}
.container .con-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin: 30px;
}
.container .button {
  border: 2px solid aqua;
  padding: 10px;
  border-radius: 8px;
}
.con-logo {
  display: flex;
  align-items: center;
}
.container .logo-left {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: aqua;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

.container .menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 14px;
}
.container .menu a {
  text-decoration: none;
}

.container .con-left-1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}
.container .text {
  width: 300px;
  flex-direction: column;
  display: flex;
  gap: 14px;
  margin-left: 65px;
}
.container .text-1 {
  border: 1px solid;
  width: 100px;
  padding: 10px;
  border-radius: 90px;
  text-align: center;
}
.container data {
  color: aqua;
  font-size: 20px;
  font-weight: bolder;
}
.container .text-4 {
  font-size: 10px;
}
.container .text-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 22px;
}
.container .text-6 {
  transform: rotate(90deg);
  font-size: 10px;
}
.container .text-7 {
  width: 1px;
  border: 1px solid #000;
  height: 40px;
  position: relative;
  top: 10px;
}
.container .text-8 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .myimegs img {
  width: 180px;
  border-radius: 6px;
  height: 250px;
}
.container .myimegs {
  width: 140px;
}

.container .fecebook img {
  width: 100%;
  border-radius: 4px;
}
.container .fecebook {
  width: 15px;
}
.container .instagram img {
  width: 100%;
}
.container .instagram {
  width: 15px;
}
.container .youtube img {
  width: 100%;
  height: 17px;
}
.container .youtube {
  width: 15px;
}
.container .con-left-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  height: 40px;
  margin-left: 40px;
}
.container .between {
  width: 1px;
  height: 40px;
  border: 1px solid #000;
}
.container .buttons {
  background-color: aqua;
  padding: 10px;
  width: 100px;
  border-radius: 8px;
}
.container .button-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .con-left-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-left: 120px;
  position: relative;
  height: 60vh;
  margin-right: 140px;
  margin-left: 100px;
}
.container .myskill {
  border: 1px solid aqua;
  padding: 10px;
  width: 100px;
  border-radius: 100px;
  text-align: center;
}
.container .text-9 {
  font-size: 15px;
  font-weight: bolder;
}
.container .aboutme {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 290px;
}
.container .button-2 {
  background-color: aqua;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
}
.container .text-10 {
  font-size: 10px;
}
.container .text-11 {
  font-size: 15px;
  font-weight: bolder;
}
.container .text-12 {
  font-size: 10px;
  width: 140px;
}
.container .text-13 {
  font-size: 15px;
  font-weight: bolder;
}
.container .text-14 {
  font-size: 10px;
  width: 140px;
}
.container .text-15 {
  font-size: 15px;
  font-weight: bolder;
}
.container .text-16 {
  font-size: 10px;
  width: 140px;
}
.container .program {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 90px;
}
.container .program-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .program-2 {
  left: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .program-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .flexbox {
  height: 8px;
  width: 8px;
  border-radius: 2px;
}
.container .con-left-4 {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  row-gap: 5px;
}
.container .flexbox {
  background-color: rgb(32, 75, 185);
  display: flex;
}
